<div class="modal fade" id="calculateSalariesModal" tabindex="-1" aria-labelledby="calculateSalariesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calculateSalariesModalLabel">Calculate Salaries for All Employees</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CalculateAll" asp-controller="EmployeeSalary" method="post">
                    <div class="form-group">
                        <input type="submit" value="Calculate All Salaries" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>