@{
    ViewData["Title"] = "Calculate Salaries for All Employees";
}

<h1>@ViewData["Title"]</h1>
<div class="modal">
    <form asp-action="CalculateAll" method="post">
        <div class="form-group">
            <input type="submit" value="Calculate All Salaries" class="btn btn-primary" />
        </div>
    </form>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
